@font-face {
  font-family: "Helvetica Neue";
  font-weight: bold;
  src: url("../fonts/HelveticaNeueLTStd-BdEx.otf") format("opentype");
}

.wrapper {
  background-image: url(../img/map.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  background-image: url(../img/logo.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  margin-bottom: 40px;
}

.login-menu {
  padding-top: 20vh;
  margin-bottom: 21px;
}

label {
  color: #fff;
  text-align: right;
  font-size: 24px!important;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 2!important;
}

input {
  background: linear-gradient(180deg, rgba(0, 61, 153, 0.23) 40.1%, rgba(255, 255, 255, 0.145) 100%);
  border: 2px solid #AAAAAA;
  height: 56px!important;
  background-color: transparent!important;
  margin-bottom: 31px;
  color: #fff!important;
}

@media only screen and (max-width: 660px) {
  label {
    text-align: left;
    font-size: 18px!important;
  }
}

.login-button {
  width: 53px;
  height: 53px;
  background: linear-gradient(180deg, rgba(0, 61, 153, 0.23) 55.68%, rgba(196, 196, 196, 0) 100%);
  border: 2px solid #AAAAAA;
  border-radius: 53px;
  cursor: pointer;
}

.login-button_desktop {
  position: relative;
  margin: 0 auto;
}

.login-button_mobile {
  position: absolute;
  top: 45px;
  right: -60px;
}

.login-button::after {
  content: url(../img/arrow.png);
  position: absolute;
  top: 10px;
  bottom: -2px;
  left: 18px;
  right: -2px;
}

.row {
  margin-bottom: 0!important;
}

@media only screen and (max-width: 575px) {
  .no-phone {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .no-desktop {
    display: none;
  }
}